<table>
    <tr>
        <td rowspan="2" style="background-color: aquamarine">1</td>
        <td style="background-color: brown">2</td>
        <td rowspan="3" style="background-color: burlywood">3</td>
    </tr>
    <tr>
        <td style="background-color: coral">2</td>
    </tr>
    <tr>
        <td style="background-color: darkgoldenrod">1</td>
        <td style="background-color: darkgreen">2</td>
    </tr>
</table>
