.env
*.swp
zzzzz.txt

secrets/

volumes/api/output
volumes/api/www

volumes/apibranchpoint

volumes/apiproduction

volumes/dbmigration/app/output
volumes/dbmigration/app/www
volumes/dbmigration/migrations/schemabranchpoint.sql
volumes/dbmigration/migrations/schemaproduction.sql

volumes/patternlab/pattern_exports
volumes/patternlab/www

volumes/postgres