<p>
    <input type="text" placeholder="Text input">
</p>
<p>
    <input type="text" list="datalistExample" placeholder="Click for datalist">
</p>
<p>
    <datalist id="datalistExample">
        <option>Option 1</option>
        <option>Option 2</option>
        <option disabled>Option 3</option>
        <option>Option 4</option>
    </datalist>
</p>
<p>
    <input type="checkbox">
    An unchecked checkbox.
</p>
<p>
    <input type="checkbox" checked>
    A checked checkbox.
</p>
<p>
    <input type="color">
    A color picker.
</p>
<p>
    <input type="date">
    A date input.
</p>
<p>
    <input type="email" required>
    A required email input.
</p>
<p>
    <input type="file">
    A file input.
</p>
<p>
    <input type="number">
    A number input.
</p>
<p>
    <input type="password">
    A password input.
</p>
<p>
    <input type="radio">
    An unselected radio input.
</p>
<p>
    <input type="radio" checked>
    A selected radio input.
</p>
<p>
    <input type="range">
    A range input.
</p>
<p>
    <input type="search">
    A search input.
</p>
<p>
    <input type="tel">
    A tel input.
</p>
<p>
    <input type="url" required>
    A required url input.
</p>