<p>
    <input type="radio" name="labelExample" value="Option 1" id="labelExampleOption1">
    <label for="labelExampleOption1">Option 1</label>
    <input type="radio" name="labelExample" value="Option 2" id="labelExampleOption2">
    <label for="labelExampleOption2">Option 2</label>
</p>
<p>
    <label for="labelExampleText">Text input</label>
    <input type="text" id="labelExampleText">
</p>