<p>
    <meter min="1" value="5" max="10">A regular meter.</meter>
    A regular meter.
</p>
<p>
    <meter min="1" low="3" value="2" max="10">A low meter.</meter>
    A low meter.
</p>
<p>
    <meter min="1" optimum="5" value="5" max="10">An optimum meter.</meter>
    An optimum meter.
</p>
<p>
    <meter min="1" optimum="4" value="5" max="10">An non-optimum meter.</meter>
    An non-optimum meter.
</p>
<p>
    <meter min="1" value="8" high="7" max="10">A high meter.</meter>
    A high meter.
</p>