:root,
.theme_light {
    --color_bg: #a6949c;
    --color_font: #032026;
    --color_primary: #0a3a40;
    --color_secondary: #636873;
    --color_tertiary: #b7aebf;
}

.theme_dark {
    --color_bg: #032026;
    --color_font: #b7aebf;
    --color_primary: #a6949c;
    --color_secondary: #636873;
    --color_tertiary: #0a3a40;
}
