<table>
    <colgroup>
        <col style="background-color: cornflowerblue" />
        <col span="2" style="background-color: darkkhaki" />
        <col style="background-color: darkslategray" />
    </colgroup>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td colspan="2">3</td>
    </tr>
    <tr>
        <td colspan="2">1</td>
        <td>3</td>
        <td>4</td>
    </tr>
</table>
