<p><a href="#">This is a hyperlink.</a></p>
<p>A br is a<br />line break.</p>
<p>
    <span
        >A span is an inline inherently-styleless section in a document used to
        mark or add CSS to something.</span
    >
</p>
