<article>
    An article is independent, self-contained content. It should maked sense on
    its own and it should be possible to distribute it independently from the
    rest of the site.
</article>
<aside>An aside is some content loosely related to the page content.</aside>
<details
    ><summary>A summary for details.</summary> Details represent a widget from
    which the user can obtain additional information or controls.</details
>
<div>A div specifies a division or section in a document.</div>
<nav>A nav defines a section of navigation links.</nav>
<p>
    A p defines a paragraph; (from the Greek paragraphos, "to write beside" or
    "written beside") a self-contained unit of a discourse in writing dealing
    with a particular point or idea. A paragraph consists of one or more
    sentences. Though not required by the syntax of any language, paragraphs are
    usually an expected part of formal writing, used to organize longer prose.
</p>
<section>A section of a document such as a header, footer, etc.</section>
<form>A form defines a section with controls for user input.</form>
<fieldset>
    <legend>A legend assigns a caption to a fieldset.</legend>
    A fieldset specifies a set of related form fields.
</fieldset>
