{{> molecules-helper-documentTitle }}
<div role="presentation" aria-label="" class="t_page themed {{ theme }}">
    {{> organisms-global-header }}
    <main role="main" aria-label="{{ aria.main }}">
        {{> @partial-block }}
    </main>
</div>
