<header
    role="banner"
    aria-label="{{ aria.header }}"
    class="o_global_header {{ pseudoTheme }}"
>
    <h1 role="heading" aria-label="{{ aria.pageTitle }}" aria-level="1">
        {{ page.title }}
    </h1>
</header>
