<div class="a_themes_swatches">
    <!-- prettier-ignore -->
    <div>
        No theme.
        {{> atoms-swatch color="bg" }}
        {{> atoms-swatch color="font" }}
        {{> atoms-swatch color="primary" }}
        {{> atoms-swatch color="secondary" }}
        {{> atoms-swatch color="tertiary" }}
    </div>
    <!-- prettier-ignore -->
    <div class="theme_light">
        Light theme.
        {{> atoms-swatch color="bg" }}
        {{> atoms-swatch color="font" }}
        {{> atoms-swatch color="primary" }}
        {{> atoms-swatch color="secondary" }}
        {{> atoms-swatch color="tertiary" }}
    </div>
    <!-- prettier-ignore -->
    <div class="theme_dark">
        Dark theme.
        {{> atoms-swatch color="bg" }}
        {{> atoms-swatch color="font" }}
        {{> atoms-swatch color="primary" }}
        {{> atoms-swatch color="secondary" }}
        {{> atoms-swatch color="tertiary" }}
    </div>
</div>
