<p><button>A button creates a clickable button.</button></p>
<p><button type="button">A button of type button.</button></p>
<p><button type="reset">A reset button.</button></p>
<p><button type="submit">A submit button.</button></p>
<p>
    <input type="image" src="../../images/logo.png" />
    An image input.
</p>
