<p>
    <b
        >A b is stylistically different text from normal text, without any
        special importance.</b
    >
</p>
<p><em>An em emphasizes text.</em></p>
<p><i>An i is italicized text without any special importance or meaning.</i></p>
<pre>
    A pre contains
    preformatted text   and maintains      whitespace.
</pre>
<p>
    <strong
        >A strong is used for strongly emphasized text and indicates
        importance.</strong
    >
</p>
<p>Sub is used for subscripted text as in H<sub>2</sub>O.</p>
<p>Sup is used for superscripted text as in x<sup>2</sup>.</p>
<p>
    The wbr is used to indicate a Word<wbr />Break<wbr />Opportunity<wbr />Where<wbr />The<wbr />Browser<wbr />May<wbr />Optionally<wbr />Break<wbr />The<wbr />Line<wbr />If<wbr />Necessary.
</p>
