<p><code>Code represents text as blocks of code.</code></p>
<p><kbd>A kbd indicates text to be entered by the user.</kbd></p>
<p><output>An output displays the results of a calculation; generally from client-side JavaScript.</output></p>
<p>
    <progress value="15" max="100">15%</progress>
    A progress represents the amount of a task completed. It should be used with JavaScript and should never be used to replace a meter.
</p>
<p>
    <progress></progress>
    A progress with no value assigned.
</p>
<p><samp>A samp specifies text as sample code.</samp></p>
<p><var>A var is used to indicate the text is an instance of a variable.</var></p>