<p><abbr title="The expanded form of the abbreviation.">An abbr is an abbreviation.</abbr></p>
<p><address>The address is used to indicate the contact details for the author or owner of the document.</address></p>
<blockquote cite="#">
    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
</blockquote>
<p><cite>A cite indicates a citation or reference to another source.</cite></p>
<p><del>Del marks text as deleted.</del></p>
<p><dfn title="The definition.">A dfn is a phrase being defined.</dfn></p>
<p><ins>Ins marks text as inserted.</ins></p>
<p><mark>A mark is used to highlight a section of text for reference purposes.</mark></p>
<p><q cite="#">A q is a short inline quotation.</q></p>