<p>
    <bdi
        >A bdi represents text that is isolated from other text for purposes of
        formatting in a different direction.</bdi
    >
</p>
<p>
    <bdo dir="rtl">A bdo overrides the current text direction.</bdo> bdo
    overrides the current text direction.
</p>
